<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery compare page. Compare widgets from different companies. The repository has a total of 30,000 widgets used by Android developers, and are gleaned from the Google Play Store.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS for ion.rangeSlider-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.css"
          rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>
<body>
	
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mobile UI Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item ">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/compare">Compare</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content
 -->
<div class="container-fluid">
    <h2 class="my-4 text-center text-lg-left">Widget Compare</h2>
    <hr/>
    <div>
        <span>Compare widgets with the following properties:</span><br>
        <span style="font-size: 14px; font-style: italic;">(note: do not choose the same developer)</span>
        <form name="compare" method="get" id="myform" action="/compare" class="panel-body">
            <div class="row">
                <div class="form-group form-inline">
                    <fieldset>
                        <label class="badge">Text Filter</label>
                        <input type="text" class="form-control" id="text" name="text" value="<%= query.text %>"
                               placeholder="Text Filter">
                    </fieldset>
                
                    <fieldset>
                        <label class="badge">Widget Class</label>
                        <select class="custom-select form-control" id="btnType" name="btnType">
                            <% if (!btnTypeArr.includes(query.btnType)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (i = 0; i < btnTypeArr.length; i++) {
                                if (btnTypeArr[i] === 'All') {
                                    continue;
                                }
                            if (query.btnType === btnTypeArr[i]) { %>
                            <option selected> <%= btnTypeArr[i] %></option>
                            <% }else { %>
                            <option> <%= btnTypeArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="badge">Color</label>
                        <select class="custom-select form-control" id="color" name="color">
                            <% if (!colArr.includes(query.color)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (var i = 0; i < colArr.length; i++) {
                                if (colArr[i] === 'All') {
                                    continue;
                                }
                            if (query.color === colArr[i]) { %>
                            <option selected> <%= colArr[i] %></option>
                            <% }else { %>
                            <option> <%= colArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="badge">Category</label>
                        <select class="custom-select form-control" id="category" name="category">
                            <% if (!catArr.includes(query.category)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (var i = 0; i < catArr.length; i++) {
                                if (catArr[i] === 'All') {
                                    continue;
                                }
                            if (query.category === catArr[i]) { %>
                            <option selected> <%= catArr[i] %></option>
                            <% }else { %>
                            <option> <%= catArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="badge">DeveloperOne</label>
                        <select class="custom-select form-control" id="DeveloperOne" name="DeveloperOneName" >
                            <option value="Empty"></option>
                            <option value="AI_Factory_Limited">AI_Factory_Limited</option>
                            <option value="GIOSIS_PTE._LTD.">GIOSIS_PTE._LTD.</option>
                            <option value="JRJ_Unlimited">JRJ_Unlimited</optgroup>
                            <option value="SMSROBOT_LTD">SMSROBOT_LTD</option>
                            <option value="NAVER_Corp.">NAVER_Corp.</option>
                            <option value="Corcanoe">Corcanoe</optiton>
                            <option value="Gemego_Ltd">Gemego_Ltd</optiton>
                            <option value="SMSROBOT_LTD">SMSROBOT_LTD</optiton>
                            <option value="Mirco_Bettelini">Mirco_Bettelini</optiton>
                            <option value="Boreumdal_Lab">Boreumdal_Lab</optiton>
                        </select>
                    </fieldset>
                     <fieldset>
                        <label class="badge">DeveloperTwo</label>
                        <select class="custom-select form-control" id="DeveloperTwo" name="DeveloperTwoName" >
                            <option value="Empty"></option>
                            <option value="AI_Factory_Limited">AI_Factory_Limited</option>
                            <option value="GIOSIS_PTE._LTD.">GIOSIS_PTE._LTD.</option>
                            <option value="JRJ_Unlimited">JRJ_Unlimited</optgroup>
                            <option value="SMSROBOT_LTD">SMSROBOT_LTD</option>
                            <option value="NAVER_Corp.">NAVER_Corp.</option>
                            <option value="Corcanoe">Corcanoe</optiton>
                            <option value="Gemego_Ltd">Gemego_Ltd</optiton>
                            <option value="SMSROBOT_LTD">SMSROBOT_LTD</optiton>
                            <option value="Mirco_Bettelini">Mirco_Bettelini</optiton>
                            <option value="Boreumdal_Lab">Boreumdal_Lab</optiton>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label class="badge">Sort By</label>
                        <select class="custom-select form-control" id="sortType" name="sortType">
                            <% if (!((query.sortType) in sortTypeDict)) { %>
                            <option selected value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
                            <% } else { %>
                            <option value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
                            <% } for (const [key, value] of Object.entries(sortTypeDict)) {
                                if (key === 'appDownloads') {
                                    continue;
                                }

                            if (query.sortType === key) { %>
                            <option selected value="<%= key %>"><%= value %></option>
                            <% }else { %>
                            <option value="<%= key %>"><%= value %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group text-center">
                        <label class="badge">Width</label>
                        <input type="text" id="width-slider" name="width" value=""/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group text-center">
                        <label class="badge">Height</label>
                        <input type="text" id="height-slider" name="height" value=""/>
                    </div>
                </div>
            </div>
            <input type="hidden" name="page" value="1">
            <div class="row">
                <div class="form-group" style="margin: 0 auto;">
                    <button type="submit" class="btn btn-primary" onclick="getWidthWithHeight();">Submit</button>    
                </div>
            </div>
            <div class="row">
                <div id = "DeveloperOneName"class="col-md-6 text-center"></div>
                <div id = "DeveloperTwoName"class="col-md-6 text-center"></div>
            </div>
        </form>
    </div>
    <hr/>
    <section class="image-grid">
    	<div class="row">
    	<div id = "companyOne"class="col-md-6" style = "height:400px;overflow-x: scroll; overflow-y:scroll"></div>
    	<div id = "companyTwo"class="col-md-6" style = "height:400px;overflow-x: scroll; overflow-y:scroll"></div>
    	</div>
   	</section> 
    <div class="row" style="margin-bottom:10px">
        <div id="endPage" class="loader" style="display:none;margin: 0 auto;"></div>
    </div>
   </div>


<!-- /.container -->
<!-- footer -->
<footer class="py-5 bg-dark">
    <div class="container-fluid">
        <p class="m-0 text-center text-white">Copyright &copy; Mobile UI Gallery 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="/javascripts/imageCell.js"></script>

<script>
    function getWidthWithHeight(){
        let widthArr;
        let heightArr;

        if (getUrlParameter('width') && getUrlParameter('height')) {
            widthArr = getUrlParameter('width').split(';');
            heightArr = getUrlParameter('height').split(';');
        } else {
            heightArr = [0, 1280];
            widthArr = [0, 800];
        }

        $("#height-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 1280,
            from: heightArr[0],
            to: heightArr[1]
        });
        
        $("#width-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 800,
            from: widthArr[0],
            to: widthArr[1]
        });
        let htmlCmp1 = "";
        let htmlCmp2 = "";
        let sPageURL = decodeURIComponent(window.location.search.substring(1));
        sURLVariables = sPageURL.split('&');
        if(sURLVariables.length > 4){
            var devOptionOne = sURLVariables[4].split('=')[1].toString();
            var devOptionTwo = sURLVariables[5].split('=')[1].toString();
            if(devOptionOne != devOptionTwo){
                htmlCmp1 += '</span>';
                htmlCmp1 += '<span style="font-size: 18px; font-weight: bold;">'+devOptionOne+'</span>';
                htmlCmp2 += '<span style="font-size: 18px; font-weight: bold;">'+devOptionTwo+'</span>';
                $('#DeveloperOneName').append(htmlCmp1);
                $('#DeveloperTwoName').append(htmlCmp2);
            }
        }
    }
</script>
<script>
    $(window).onload = getWidthWithHeight();
</script>
<script>
    $(document).ready(function () {
        let _mainPage;
        
        if (getUrlParameter('page')) {
            _mainPage = parseInt(getUrlParameter('page'));
            console.log("cmpload");
            loadCmpImages(_mainPage);
            console.log('loading images...');
            let timer;
            
            $(window).scroll(function () {
                if (_mainPage) {
                    if ($(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.75) {
                        if (timer) {
                            window.clearTimeout(timer);
                        }
                        document.body.scrollTop = document.body.scrollHeight;
                        timer = window.setTimeout(function () {
                            _mainPage += 1;
                            loadCmpImages(_mainPage);
                        }, 500); //500
                    }
                }
            });
            
        } else {
            _mainPage = 1;
        }

    });
</script>
</body>
</html>